<div class="block">
    {% set store = t %}
    {% set globals = {} %}

    <twig:dexie
            refreshEvent="tab-{{ t }}-show"
            :store="store"
            :globals="globals"
            :filter="{}"
            :caller="_self">

        <twig:block name="title">
            there are {{ rows|length }} rows
        </twig:block>


        <twig:block name="twig_template" id="hack_to_get_raw_data">
            {#                <h1>@{{ storeName }}</h1> <!-- passed in from dexie --> #}
            <div class="list media-list">
                <ul>
                    {% for row in rows %}

                        <li>

                            <a  href="/pages/artist/{{ row.code }}" class="item-link item-content">
                                {% for i in row.images|slice(0,1) %}
                                    <div class="item-media">
                                        {% if i.thumbnailUrl %}
                                            <a href="{{ i.thumbnailUrl }}">
                                                <img style="max-width: 80px" src="{{ i.thumbnailUrl }}" title="{{ i.thumbnailUrl }}"/>
                                            </a>
                                        {% else %}
                                            <img style="max-width: 80px" src="{{ baseurl }}/images/80.png" alt="No image available"/>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">{{ row.name }}</div>
                                        <div class="item-after">
                                            {{  row.obras.length ? row.obras.length }}
                                        </div>
                                    </div>
                                <div class="item-subtitle">{{ row.birthYear }}</div>
                                <div class="item-text">{{ row.slogan }}</div>
                                </div>
                            </a>


                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- hack_to_get_raw_data -->
        </twig:block>

    </twig:dexie>
</div><!-- block -->
