<div class="block">
    <p><b>{{ t }}</b></p>

    <button class="button popover-open" data-popover=".my-popover">Change Language</button>

    <div class="popover my-popover">
        <div class="popover-inner">
            <div class="list inset list-strong list-dividers-ios">
                <ul>
                    <!-- loop over enabled_locales -->
                    {% for locale in app.enabled_locales %}
                        <li>
                            <a class="external list-button" href="{{ url('project_start', {configCode: config.code, _locale: locale}) }}">
                                {{ locale|upper }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="list inset list-strong">
                <ul>
                    <li><a class="list-button color-red popover-close">Cancel</a></li>
                </ul>
            </div>
        </div>
    </div>


    <article>
        {{ 'modo.description'|trans|markdown_to_html }}

        {# this really isn't dexie, but right now dexie is passing window, so it works. #}
        {% if false %}

        {{ ux_map(
            center: [51.5074, 0.1278],
            zoom: 3,
            attributes: {
                'data-controller': "mymap",
                class: 'foo',
                style: 'height: 800px; width: 100%; border: 4px solid red; margin-block: 10vh;',
            }
        ) }}
        {% endif %}

{#        <twig:dexie#}
{#                store="obras"#}
{#                :caller="_self"#}
{#                refreshEvent="app.load"#}
{#        >#}
{#            <twig:block name="twig_template">#}
{#                <h1>Welcome to {{ window.app.name }}</h1>#}
{#            </twig:block>#}

{#        </twig:dexie>#}



    </article>
</div>
