<style>
.custom-list-content ul {
    display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: var(--f7-bars-bg-color);
        border-radius: 0.25rem;
        padding: 5px;
}
.custom-list-content .item-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-list-content .item-title span {
    line-height: 0;
 }

.custom-list-content .item-title svg {
    width: 20px;
}

/* .custom-list-content li {
    border: 1px solid var(--f7-text-editor-button-divider-color);
    border-radius: 0.25rem;
} */
</style>


<div>
    <h1 class="page-title font-serif font-weight-900 text-capitalize margin-top no-margin-bottom">{{ 'tab.%s'|format(t)|trans }}</h1>
        {% set store = t %}
        {% set globals = {
            icons: {
                REST: ux_icon('material-symbols:restaurant'),
                CC: ux_icon('icon-park-outline:building-four'),
                GALLERIA: ux_icon('grommet-icons:gallery'),
                MUSEO: ux_icon('material-symbols:museum')
            }
        } %}

    <div class="block">
        <button hidden
            data-controller="install-status pwa--install"
            data-action="pwa--install:not-installed->install-status#notInstalled pwa--install:installed->install-status#installed click->pwa--install#install"
            class="button button-fill  button-large button-round color-primary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="24" height="24">
	                <path fill="currentColor" d="M30.92 8h-4.37a1 1 0 0 0 0 2H31v20H5V10h4.38a1 1 0 0 0 0-2h-4.3A2 2 0 0 0 3 10v20a2 2 0 0 0 2.08 2h25.84A2 2 0 0 0 33 30V10a2 2 0 0 0-2.08-2" class="clr-i-outline clr-i-outline-path-1" />
	                <path fill="currentColor" d="m10.3 18.87l7 6.89a1 1 0 0 0 1.4 0l7-6.89a1 1 0 0 0-1.4-1.43L19 22.65V4a1 1 0 0 0-2 0v18.65l-5.3-5.21a1 1 0 0 0-1.4 1.43" class="clr-i-outline clr-i-outline-path-2" />
	                <path fill="none" d="M0 0h36v36H0z" />
                </svg>
                <span style="margin-inline-start: 8px;">Install App</span>
        </button>
    </div>

    <twig:dexie
                refreshEvent="tab-{{ t }}-show"
                :store="store"
                :globals="globals"
                :filter="{locale: 'en'}"
                :caller="_self">

            <twig:block name="title">
                 {{ rows|length }} Ubis
            </twig:block>

            <twig:block name="twig_template" id="hack_to_get_raw_data">
                <div class="list media-list list-dividers list-outline list-strong inset margin-vertical">
                    <ul>
                    {% for idx, row in rows %}
                        <li>
                            <a href="/pages/location/{{row.code}}" class="item-link">
                                <div class="item-content">
                                    <div class="item-media">
                                        <span class="media-container size-40" title=" {{ row.type ?? '' }}">
                                            {{ globals.icons[row.type|upper] ?? '' }}
                                        </span>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title font-serif font-weight-600">{{ row.name|default(row.label)|title }}</div>
                                            <div class="item-after">
                                                <span class="badge color-primary">{{ row.obraCount|default(row.objCount) }}</span>
                                            </div>
                                        </div>
                                        <div class="item-text">{{ row.barrio ?? '' }}</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <!-- hack_to_get_raw_data -->
            </twig:block>

        </twig:dexie>
</div>