<div class="block">
    <h1>{{ 'tab.%s'|format(t)|trans }}</h1>
        {% set store = t %}
        {% set globals = {
            icons: {
                REST: ux_icon('material-symbols:restaurant'),
                CC: ux_icon('icon-park-outline:building-four'),
                GALLERIA: ux_icon('grommet-icons:gallery'),
                MUSEO: ux_icon('material-symbols:museum')
            }
        } %}

        <twig:dexie
                refreshEvent="tab-{{ t }}-show"
                :store="store"
                :globals="globals"
                :filter="{locale: 'en'}"
                :caller="_self">

            <twig:block name="title">
                there are {{ rows|length }} rows
            </twig:block>

            <twig:block name="twig_template" id="hack_to_get_raw_data">
                <div class="list">
                    <ul>
                    {% for row in rows %}
                        <li>
                            <a href="/pages/location/{{row.code}}" class="item-link">
                                <div class="item-content">
                                    <div class="item-inner
                                    ">
                                        <div class="item-title
                                        ">
                                            <span title=" {{ row.typeString }}">
                                            {{ globals.icons[row.typeString]|default('') }}
                                            </span>

                                           <b>{{ row.name|default(row.label)|title }}</b>
                                        </div>
                                        <div class="item-after">
                                            {{ row.obraCount|default(row.objCount) }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <!-- hack_to_get_raw_data -->
            </twig:block>

        </twig:dexie>
</div>
