<style>
.custom-list-content ul {
    display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: var(--f7-bars-bg-color);
        border-radius: 0.25rem;
        padding: 5px;
}
.custom-list-content .item-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-list-content .item-title span {
    line-height: 0;
 }

.custom-list-content .item-title svg {
    width: 20px;
}

/* .custom-list-content li {
    border: 1px solid var(--f7-text-editor-button-divider-color);
    border-radius: 0.25rem;
} */
</style>


<div>
    <h1 class="page-title font-serif font-weight-900 text-capitalize margin-top no-margin-bottom">{{ 'tab.%s'|format(t)|trans }}</h1>
        {% set store = t %}
        {% set globals = {
            icons: {
                REST: ux_icon('material-symbols:restaurant'),
                CC: ux_icon('icon-park-outline:building-four'),
                GALLERIA: ux_icon('grommet-icons:gallery'),
                MUSEO: ux_icon('material-symbols:museum')
            }
        } %}

    <twig:dexie
                refreshEvent="tab-{{ t }}-show"
                :store="store"
                :globals="globals"
                :filter="{locale: 'en'}"
                :caller="_self">

            <twig:block name="title">
                 {{ rows|length }} Ubis
            </twig:block>

            <twig:block name="twig_template" id="hack_to_get_raw_data">
                <div class="list media-list list-dividers list-outline list-strong inset margin-vertical">
                    <ul>
                    {% for idx, row in rows %}
                        <li>
                            <a href="/pages/location/{{row.code}}" class="item-link">
                                <div class="item-content">
                                    <div class="item-media">
                                        <span class="media-container size-40" title=" {{ row.type ?? '' }}">
                                            {{ globals.icons[row.type|upper] ?? '' }}
                                        </span>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title font-serif font-weight-600 white-space-normal">
                                                <span>{{ row.name|default(row.label)|title }}</span>
                                                <span data-controller="checkin" data-checkin-location-id-value="{{ row.code }}" data-checkin-target="statusLabel" data-checkin-status-label-value="✓" class="badge color-green" style="font-family: system-ui;"></span>
                                            </div>
                                            <div class="item-after">
                                                <span class="badge color-primary">{{ row.obraCount|default(row.objCount) }}</span>
                                            </div>
                                        </div>
                                        <div class="item-text">{{ row.barrio ?? '' }}</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <!-- hack_to_get_raw_data -->
            </twig:block>

        </twig:dexie>
</div>