
{#@todo: title icon?#}
<twig:SurvosFw:Framework7Page :caller="_self"
             :title="'expo'|trans"
>
  <twig:block name="title">
    @@title@@
  </twig:block>
  <twig:block name="content">
    {% set store = 'expos' %}
    {% set globals = {
      locale: app.locale

    } %}

    {% set queries = {
      expo: {store: 'expos', type: 'find' , id : '{{event.details.id}}' , templateName: 'expo'}
    }%}


    <twig:dexie
            refreshEvent="expo.refresh"
            :store="store"
            :queries="queries"
            :globals="globals"
            :caller="_self">

      <twig:block name="expo" id="twig_expo_template">
       {% set locale = globals.locale %}
        <h1>Expo</h1>
        <sup>
          <div class="expo-detail">
            <h1>{{ data.title|title }}</h1>
            {% set description = data.content[locale] %}
            <article>
              <p>
              {{data.content}}
              </p>
            </article>
          </div>
        </sup>
        <!-- twig_expo_template -->
      </twig:block>

      <twig:block name="title" id="title_template">
        <sup>
          {{ data.code }}
        </sup>
        {% set locale = globals.locale %}
        {{ data.title}}
        <!-- title_template -->
      </twig:block>


      <twig:block name="twig_template" id="hack_to_get_raw_data">
        {% set locale = globals.locale %}
        <div class="expo-detail">
          <h1>{{ data.name|title }}</h1>
          {% set description = data.content[locale] %}
          <article>
            <p>
              <p>{{ data.description }}</p>
            </p>
            <div>
              <p>Code: {{ data.code }}</p>
              <p>Start Date: {{ data.startDate }}</p>
              <p>End Date: {{ data.endDate }}</p>
            </div>
            <p>
          </p>
          </article>
        </div>
        <!-- hack_to_get_raw_data -->
      </twig:block>
    </twig:dexie>
  </twig:block>
</twig:SurvosFw:Framework7Page>

