
{#@todo: title icon?#}
<twig:SurvosFw:Framework7Page :caller="_self"
             :title="'expo'|trans"
>
  <twig:block name="title">
    @@title@@
  </twig:block>
  <twig:block name="content">
    {% set store = 'expos' %}
    {% set globals = {
      locale: app.locale

    } %}
    <twig:dexie
            refreshEvent="expo.refresh"
            :store="store"
            :globals="globals"
            :caller="_self">
      {# this is really the page title, not the app title #}
      <twig:block name="title" id="title_template">
        <sup>
          {{ data.id }}
        </sup>
        {% set locale = globals.locale %}
        {{ data.title[locale] }}
        <!-- title_template -->
      </twig:block>
      <twig:block name="twig_template" id="hack_to_get_raw_data">

        {% set locale = globals.locale %}
        {{ data.id }}, {{ data.objCount }} objects on tour
        <div class="location-detail">
          <h1>{{ data.title[locale] }}</h1>
          {% set description = data.content[locale] %}
          <article>
            <p>
              {#              better would be something like https://github.com/markedjs/marked or  https://github.com/showdownjs/showdown and registering it in the stimulus controller#}
              {{ description|replace({"\n\n": "</p><p>"}) }}
            </p>
            <div>
              <p>{{ data.objCount }} Objects</p>
            <ol>
              {% for obj in data.objs %}
                <li>{{ obj }}</li>
              {% endfor %}
            </ol>
            </div>
          </article>
        </div>
        <!-- hack_to_get_raw_data -->
      </twig:block>
    </twig:dexie>
  </twig:block>
</twig:SurvosFw:Framework7Page>

