
{#@todo: title icon?#}
<twig:FwPage :caller="_self"
             :title="'@loc: ' ~ 'location'|trans"
>
  <twig:block name="content">
    {% set store = 'expos' %}
    {% set globals = {
      locale: app.locale

    } %}
    <twig:dexie
            refreshEvent="expo.refresh"
            :store="store"
            :globals="globals"
            :caller="_self">
      <twig:block name="header_template" id="hack_to_get_raw_data">
      </twig:block>
      <twig:block name="twig_template" id="hack_to_get_raw_data">

        {% set locale = globals.locale %}
        expo: {{ data.id }}
        This is an expo (specifically, MODO). {{  data.id }}
        <div class="location-detail">
          <h1>{{ data.title.locale }}</h1>
          <p>Code: {{ data.id }}</p>
          {% set description = data.content[locale] %}
          <article>
            <p>
              {#              better would be something like https://github.com/markedjs/marked or  https://github.com/showdownjs/showdown and registering it in the stimulus controller#}
              {{ description|replace({"\n\n": "</p><p>"}) }}
            </p>
          @todo: artwork on the tour...
          <p>{{ data.obraCount }}</p>
          </article>

        </div>
        <!-- hack_to_get_raw_data -->
      </twig:block>
    </twig:dexie>
  </twig:block>
</twig:FwPage>

