
{#@todo: title icon?#}
<twig:SurvosFw:Framework7Page :caller="_self"
             :title="'location'|trans"
>
  <twig:block name="title">
    @@title@@
  </twig:block>
  <twig:block name="content">
    {% set store = 'locations' %}
    {% set globals = {
      locale: app.locale
    } %}


    <twig:dexie
            refreshEvent="location.refresh"
            :store="store"
            :globals="globals"
            :caller="_self">

      <twig:block name="title" id="title_template">
        <sup>
          {{ data.id }}
        </sup>
        {% set locale = globals.locale %}
        {{ data.name}}
        <!-- title_template -->
      </twig:block>

      <twig:block name="twig_template" id="hack_to_get_raw_data">

        This is the detail page for some specific location ID {{ data.id }}
        <div class="location-detail">
          <h1>{{ data.name|title }}</h1>
          <p>Code: {{ data.code }}</p>
          {% set description = data.description|default('no description') %}

          <article>
            <p>
{#              better would be something like https://github.com/markedjs/marked or  https://github.com/showdownjs/showdown and registering it in the stimulus controller#}
              {{ data.description|replace({"\n\n": "</p><p>"}) }}
            </p>
          </article>

          @todo: artwork on the tour...
          <p>{{ data.obraCount }}</p>
        </div>
        <!-- hack_to_get_raw_data -->
      </twig:block>

      
    </twig:dexie>
  </twig:block>
</twig:SurvosFw:Framework7Page>