
{#@todo: title icon?#}
<twig:SurvosFw:Framework7Page :caller="_self"
             :title="'location'|trans"
>
  <twig:block name="title">
    @@title@@
  </twig:block>
  <twig:block name="content">
    {% set store = 'locations' %}
    {% set globals = {
      locale: app.locale
    } %}

    {% set queries = {
      location: {store: 'locations', type: 'find' , id : '{{event.details.id}}' , templateName: 'location'},
      objects: {store: 'obras', filters : {locationCode: '{{location.code}}' }, filterType: 'where' , templateName: 'objects'},
    }%}

    <h1>{{ 'tab.location'|trans }}</h1>

    <twig:dexie
            refreshEvent="location.refresh"
            :store="store"
            :queries="queries"
            :globals="globals"
            :caller="_self">

      <twig:block name="location" id="twig_location_template">
       {% set locale = globals.locale %}
        <sup>
{#          {{ data|json_encode }}#}
          <div class="location-detail">
            <h1>{{ data.label }}</h1>
            <p>{{ data.address }}</p>
            <p>Code: {{ data.code }}</p>

            @todo: map {{ data.lat }} {{ data.lng }}

          </div>
        </sup>
        <!-- twig_location_template -->
      </twig:block>

      <twig:block name="objects" id="twig_objects_template">
        <h1>Objects</h1>
        <!-- loop through data array having the objects -->
        {% for object in data %}
          <div class="object-detail">
            <h1>{{ object.name|title }}</h1>
            <p>Code: {{ object.code }}</p>
            {% set description = object.description|default('no description') %}
            <article>
              {% if object.images|length %}
              {{ object.images[0].small }}
              {% endif %}
                {% if object.images is defined and object.images.small is defined %}
                  <img src="{{ object.images.small }}" alt="{{ object.title|e }}" style="max-width: 300px; display: block; margin-bottom: 1em;max-height: 200px;">
                {% endif %}
                <h3>{{ object.title }}</h3>
              <p>
                {{ object.description|replace({"\n\n": "</p><p>"}) }}
              </p>
            </article>
            <hr>
          </div>
        {% endfor %}

        <!-- twig_objects_template -->
      </twig:block>

      <twig:block name="title" id="title_template">
        <sup>
          {{ data.code }}
        </sup>
        {% set locale = globals.locale %}
        {{ data.label}}
        <!-- title_template -->
      </twig:block>

      <twig:block name="twig_template" id="hack_to_get_raw_data">

        This is the detail page for some specific location {{ data.code }}
        <div class="location-detail">
          <h1>{{ data.name|title }}</h1>
          <p>Code: {{ data.code }}</p>
          {% set description = data.description|default('no description') %}

          <article>
            <p>
{#              better would be something like https://github.com/markedjs/marked or  https://github.com/showdownjs/showdown and registering it in the stimulus controller#}
              {{ data.description|replace({"\n\n": "</p><p>"}) }}
            </p>
          </article>

          @todo: artwork on the tour...
          <p>{{ data.obraCount }}</p>
        </div>
        <!-- hack_to_get_raw_data -->
      </twig:block>


    </twig:dexie>
  </twig:block>
</twig:SurvosFw:Framework7Page>
