
{#@todo: title icon?#}
<twig:SurvosFw:Framework7Page :caller="_self"
             :title="'sacro'|trans"
>
  <twig:block name="title">
    @@title@@
  </twig:block>
  <twig:block name="content">
  {% set store = 'sacros' %}
    {% set globals = {
      locale: app.locale
    } %}
    {% set queries = {
      sacro: {store: 'sacros', type: 'find' , id : '{{event.details.id}}' , templateName: 'sacro'}
    }%}
    <twig:dexie
            refreshEvent="sacro.refresh"
            :store="store"
            :queries="queries"
            :globals="globals"
            :caller="_self">


       <twig:block name="sacro" id="twig_sacro_template">
       {% set locale = globals.locale %}
        <h1>Sacro</h1>
        <sup>
          <div class="obra-detail">
            <img src="{{ data.imageSizes.medium }}" />

{#            {{ data|json_encode }}#}
          <h1>{{ data.label }}</h1>
          <p>{{ data.description }}</p>
          <p>Code: {{ data.code }}</p>
          <p>Location: {{ data.location.code }}</p>
        </div>
        </div>
        </sup>
        <!-- twig_sacro_template -->
      </twig:block>

      <twig:block name="twig_template" id="hack_to_get_raw_data">
        {% set locale = globals.locale %}
        <div class="artist-detail">
          <h1>{{ data.name|title }}</h1>
          {% set description = data.content[locale] %}
          <article>
            <p>
              <p>{{ data.bio }}</p>
            </p>
            <div>
              <p>Birth Year: {{ data.birthYear }}</p>
              <p>Email: {{ data.email }}</p>
              <p>Code: {{ data.code }}</p>
            </div>
            <p>
            {% for i in 1..3 %}
              <img style="max-width: 120px"
                      src="https://elmodo.mx/wp-content/uploads/2025/03/LRdJ_CarruselWeb_{{ i }}.jpg" />
            {% endfor %}
        </p>
          </article>
        </div>
        <!-- hack_to_get_raw_data -->
      </twig:block>

    </twig:dexie>
  </twig:block>
</twig:SurvosFw:Framework7Page>
