{% extends "base.html.twig" %}
{% block body %}
    <!-- App root element -->
    <div id="app" class="framework7-root" {{ stimulus_controller('app') }}>
        <!-- framework7 left panel overlay -->
        <div class="panel panel-left">

            <twig:mobile_menu
                :caller="_self"
                type="MOBILE_PAGE_MENU"
            >
            </twig:mobile_menu>
        </div>

        <div class="panel panel-right">
            <!-- Right panel content should be a page structure -->
            <div class="view view-init panel-view">
                <div class="page">
                    <div class="page-content">
                        <p><a href="/settings/" class="link">Settings</a></p>
                    </div>
                </div>
            </div>
        </div>

        {{ block('main_app') }}
        <!-- Your main view, should have "view-main" class -->
    </div>
{% endblock %}

{% block main_app %}
    {% set tabs = [
        {
            'name': 'info',
            'title': 'Info',
            'icon': 'tabler:info-circle'
        },
        {
            'name': 'artists',
            'title': 'Artists',
            'icon': 'tabler:user-heart'
        },
        {
            'name': 'obras',
            'title': 'Obras',
            'icon': 'tabler:building'
        },
        {
            'name': 'locations',
            'title': 'Locations',
            'icon': 'tabler:location-search'
        }
    ] %}
<div class="view view-main view-init safe-areas" data-master-detail-breakpoint="768" data-url="/">
    <div class="page page-current">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">

                <div class="left">
                    LOGO
                    <img src="{{ app_logo }}" alt="">
{#                    <a href="/settings/" class="link icon-only navbar-profile">#}
{#                        <img src="{{ app_logo }}" alt="">#}
{#                    </a>#}

                    <a class="link icon-only panel-open ripple-inset" data-panel="left">
                    <twig:ux:icon name="tabler:menu-2" />
                    </a>
                </div>

                <div class="title">{{ app_name }}</div>
            </div>
        </div>

        <div class="toolbar tabbar toolbar-bottom">
            <div class="toolbar-inner">
                {% for t in tabs %}
                    <a href="#tab-{{ t.name }}" class="tab-link {{ loop.first ? 'tab-active' }}">
                    <twig:ux:icon name="{{t.icon}}" />
                        <span class="tabbar-label">
                                {{ t.title|title }}
                        </span>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="tabs">
            {% for t in tabs %}
            <div id="tab-{{ t.name }}" class="page-content tab {{ loop.first ? 'tab-active' }}">
                    {{ include('tabs/%s.html.twig'|format(t.name), {t: t.name}) }}
{#                    {{ include('tabs/obras.html.twig'|format(t), {t: t}) }}#}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
